

.form{
  width: 40%;
   background: #7873f5;
   display: flex;
   flex-direction: row;
    gap: 1rem;
  

}

button{
    cursor: pointer;
    background: #ec77ab;
    border-radius: 3px;
    border-style: none;
}

@media screen and (max-width: 768px) {
    .form{
        width: 70%;
       
    }
  }

